/* Footer.css */

html, body, #root {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  .foorBrand{
    margin-right: 5px;
  }
  footer {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .footLinks{
        display: none;
    }
    .foorBrand{
      text-wrap: nowrap;
    }
    
  }